/* DEFAULTS
----------------------------------------------------------*/
body {
    background-image: url("../../Styles/Images/ImagensPersonalizadas/bg_content.jpg");
    background-repeat: repeat-x;
    font-size: .85em;
    font-family: Arial Narrow;
    margin: 0px;
    padding: 0px;
    color: #696969;
}

a:link, a:visited {
    color: #888888;
}

a:hover {
    color: #888888;
    text-decoration: none;
}

a:active {
    color: #034af3;
}

p {
    margin-bottom: 10px;
    line-height: 1.6em;
}


/* HEADINGS   
----------------------------------------------------------*/

h1, h2, h3, h4, h5, h6 {
    font-size: 1.5em;
    color: #666666;
    font-variant: small-caps;
    text-transform: none;
    font-weight: 200;
    margin-bottom: 0px;
}

h1 {
    font-size: 1.6em;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

h2 {
    font-size: 1.5em;
    font-weight: 600;
}

h3 {
    font-size: 1.2em;
}

h4 {
    font-size: 1.1em;
}

h5, h6 {
    font-size: 1em;
}

/* this rule styles <h1> and <h2> tags that are the 
first child of the left and right table columns */
.rightColumn > h1, .rightColumn > h2, .leftColumn > h1, .leftColumn > h2 {
    margin-top: 0px;
}


/* PRIMARY LAYOUT ELEMENTS   
----------------------------------------------------------*/

.page {
    margin: 20px auto 0px auto;
}

.header {
    position: relative;
    margin: 0px;
    padding: 0px;
    width: 100%;
    border-bottom: 1px solid #ff6400;
}

    .header h1 {
        font-weight: 500;
        margin: 0px;
        padding: 0px 0px 0px 20px;
        color: #666;
        border: none;
        font-size: 32px;
    }

.main {
    padding: 0px 12px;
    margin: 12px 8px 8px 8px;
    height: auto;
}

.leftCol {
    padding: 6px 0px;
    margin: 12px 8px 8px 8px;
    width: 200px;
    min-height: 200px;
}

.footer {
    padding: 8px 0px 0px 0px;
    font-family: Arial Narrow;
    margin: 3px auto;
    text-align: center;
    line-height: normal;
    width: 100%;
    min-height: 40px;
    color: #3A4F63;
    border-top: 1px solid #9D9D9D;
}

/* TAB MENU   
----------------------------------------------------------*/

div.hideSkiplink {
    width: 100%;
}

div.menu {
    margin: 2px 0px 1px 410px;
    margin: 2px 0px 1px 405px \0/IE9;
    height: 70px;
    font-size: 1.05em;
}

    div.menu ul {
        list-style: none;
        margin: 0 0 1px 1px;
        padding: 0px;
        height: 70px;
    }

        div.menu ul li a, div.menu ul li a:visited {
            background-color: #F06E1E;
            border: 1px #888888 solid;
            color: #ffffff;
            line-height: 3.50em;
            padding: 14px 30px 1.20em;
            text-decoration: none;
            white-space: nowrap;
            font-size: 1.30em;
        }

            div.menu ul li a:hover {
                /*background-color: #bfcbd6;*/
                background-color: #888888;
                color: #ffffff;
                text-decoration: none;
                font-size: 1.30em;
            }

            div.menu ul li a:active {
                background-color: #465c71;
                color: #cfdbe6;
                text-decoration: none;
            }

/* FORM ELEMENTS   
----------------------------------------------------------*/

fieldset {
    margin: 1em 0px;
    padding: 1em;
    border: 1px solid #ccc;
}

    fieldset p {
        margin: 2px 12px 10px 10px;
    }

    fieldset.login label, fieldset.register label, fieldset.changePassword label {
        display: block;
    }

    fieldset label.inline {
        display: inline;
    }

legend {
    font-size: 1.1em;
    font-weight: 600;
    padding: 2px 4px 8px 4px;
}

input.textEntry {
    width: 320px;
    border: 1px solid #ccc;
}

input.passwordEntry {
    width: 320px;
    border: 1px solid #ccc;
}

div.accountInfo {
    width: 42%;
}

/* MISC  
----------------------------------------------------------*/

.clear {
    clear: both;
}

.title {
    text-align: center;
    width: 666px;
    height: 85px;
    float: left;
}

.cabecalhoMaster {
    text-align: left;
    margin-left: 200px;
    margin-left: 300px \0/IE9;
    font-family: Arial Narrow;
    color: #888888;
    width: auto;
    font-size: 28px;
}

.logo {
    width: 300px;
    height: 85px;
    float: left;
}

.imgLogo {
    margin: 10px 0 0 10px;
    border: 0;
}

.loginDisplay {
    font-size: 1.1em;
    display: block;
    text-align: right;
    padding: 10px;
    color: White;
}

    .loginDisplay a:link {
        color: white;
    }

    .loginDisplay a:visited {
        color: white;
    }

    .loginDisplay a:hover {
        color: white;
    }

.failureNotification {
    font-size: 1.2em;
    color: Red;
}

.bold {
    font-weight: bold;
}

.submitButton {
    text-align: right;
    padding-right: 10px;
}

.dvUsuario {
    float: right;
    height: 50px;
    width: 300px;
    margin: 7px 10px 1px 1px;
    font-family: Arial Narrow;
    font-size: 14px;
}

.lblUserLogado {
    font-family: Arial Narrow;
    font-size: 15px;
    text-align: left;
    margin: 1px 10px 1px 1px;
    float: right;
    color: #888888;
    margin-top: 2px;
}

.lblUserLogadoBig {
    font-family: Arial Narrow;
    font-size: 15px;
    font-weight: 500;
    text-align: left;
    margin: 1px 1px 1px 2px;
    float: left;
    color: #888888;
    margin-top: 2px;
}

.lnkLogout {
    font-family: Arial Narrow;
    font-size: 14px;
    text-align: left;
    margin: 2px 1px 0px 1px;
    float: right;
    color: #888888;
    font-weight: 600;
}

.imgUsuarioLogado {
    margin-right: 5px;
    width: 32px;
    height: 25px;
    border: 1px solid;
    float: right;
}

.corpright {
    width: 520px;
    width: 575px\0/IE9;
    height: auto;
    float: left;
    color: #888888;
    text-align: left;
    margin: 1px 0px 1px 30px;
}

.dvLanguages {
    width: 30px;
    width: 45px\0/IE9;
    height: auto;
    float: left;
    color: #888888;
    text-align: left;
    margin: 1px 0px 1px 30px;
}

.menusRodape {
    width: 700px;
    height: auto;
    float: right;
    margin-right: 20px;
    text-align: right;
    color: #888888;
}

.LnksBtnRodape {
    margin: 6px 0px 1px 5px;
    text-decoration: none;
    cursor: pointer;
}

/* HOVER STYLES */
div#pop-up {
    background-image: url("../../Styles/Images/FundoSite.jpg");
    display: none;
    position: absolute;
    width: 320px;
    height: 150px;
    padding: 5px;
    color: #000000;
    border: 1px solid #1a1a1a;
    font-size: 90%;
}

.dvImagem {
    width: 150px;
    height: 130px;
    float: left;
    margin: 2px 1px 1px 1px;
}

.dvInfoUser {
    width: 155px;
    height: 130px;
    float: left;
    margin: 2px 1px 1px 5px;
}

.dvInfoUserGen {
    float: left;
    margin: 2px 2px 2px 2px;
    font-size: 13px;
    width: 145px;
    height: 25px;
}

.descricaoHover {
    float: left;
    margin: 2px 2px 2px 2px;
    font-size: 13px;
    width: 200px;
}
