body {
    background-image: url("../../Styles/Images/ImagensPersonalizadas/bg_content.jpg");
    background-repeat: repeat-x;
    font-size: .80em;
    font-family: Arial Narrow;
    margin: 0px;
    padding: 0px;
    color: #696969;
}

.page {
    margin: 1px 1px 1px 1px;
    min-height: 440px;
}

.head {
    position: relative;
    margin: 0px;
    padding: 0px;
    width: 100%;
    border-bottom: 1px solid #9D9D9D;
}

.tituloForm {
    width: 600px;
    height: 150px;
    margin: 5px 250px 5px 350px;
    margin: 5px 250px 5px 390px\0/IE9;
    font-family: Arial Narrow;
    font-size: 32px;
    color: #888888;
    text-align: center;
}

#Logo {
    width: 600px;
    height: 100px;
}

.imgLogo {
    margin: 10px 0 0 1px;
    border: 0;
}


.dvUsuario {
    float: right;
    height: 50px;
    width: 300px;
    margin: 7px 10px 1px 1px;
    font-family: Arial Narrow;
    font-size: 14px;
}


.lblUserLogado {
    font-family: Arial Narrow;
    font-size: 14px;
    text-align: left;
    margin: 1px 10px 1px 1px;
    float: right;
    color: #888888;
    margin-top: 2px;
}


.lblUserLogadoBig {
    font-family: Arial Narrow;
    font-size: 13px;
    font-weight: 500;
    text-align: left;
    margin: 1px 1px 1px 2px;
    float: left;
    color: #888888;
    margin-top: 2px;
}

.lnkLogout {
    font-family: Arial Narrow;
    font-size: 14px;
    text-align: left;
    margin: 2px 1px 0px 1px;
    float: right;
    color: #888888;
    font-weight: 600;
}

.imgUsuarioLogado {
    margin-right: 5px;
    width: 32px;
    height: 25px;
    border: 1px solid #000000;
    float: right;
}

.footer {
    padding: 8px 0px 0px 0px;
    font-family: Arial Narrow;
    margin: 3px auto;
    text-align: center;
    line-height: normal;
    width: 100%;
    min-height: 35px;
    color: #888888;
    border-top: 1px solid #9D9D9D;
}

.corpright {
    width: 520px;
    width: 575px\0/IE9;
    height: auto;
    float: left;
    color: #888888;
    text-align: left;
    margin: 1px 0px 1px 30px;
}

.menusRodape {
    width: 700px;
    height: auto;
    float: right;
    margin-right: 20px;
    text-align: right;
    color: #888888;
}

.LnksBtnRodape {
    margin: 6px 0px 1px 5px;
    text-decoration: none;
    cursor: pointer;
    color: #888888;
}

/* HOVER STYLES */
div#pop-up {
    background-image: url("../../Styles/Images/ImagensPersonalizadas/bg_content.jpg");
    display: none;
    position: absolute;
    width: 320px;
    height: 150px;
    padding: 5px;
    color: #000000;
    border: 1px solid #1a1a1a;
    font-size: 90%;
}

.dvImagem {
    width: 150px;
    height: 130px;
    float: left;
    margin: 2px 1px 1px 1px;
}

.dvInfoUser {
    width: 155px;
    height: 130px;
    float: left;
    margin: 2px 1px 1px 5px;
}

.dvInfoUserGen {
    float: left;
    margin: 2px 2px 2px 2px;
    font-size: 13px;
    width: 145px;
    height: 25px;
}

.descricaoHover {
    float: left;
    margin: 2px 2px 2px 2px;
    font-size: 13px;
    width: 200px;
}
