
.menuLeft
{
	width: 500px;
	float: left;
	height: auto;
	border-right: 1px solid #9D9D9D;
}

.menuRight
{
	width: 740px;
	float: left;
	margin-left: 10px;
	height: auto;
}

.tituloPost
{
	width: 720px;
	margin: 5px 10px 2px 10px;
	height: auto;
	text-align: center;
	font-family: Arial Narrow;
	font-size: 13px;
}

.conteudoPost
{
	width: 720px;
	margin: 5px 10px 2px 10px;
    min-height: 440px;
	height: auto;
	text-align: center;
}

.dataPost
{
	width: 720px;
	margin: 5px 10px 2px 10px;
	height: 30px;
}

.lblData
{
	font-family: Arial Narrow;
	font-size: 13px;
	text-align: right;
	color: #666;
	font-weight: 500;
	margin: 5px 20px 0px 0px;
	float: right;
}

.lnkPosts
{
	font-family: Arial Narrow;
	font-size: 14px;
	float: left;
	width: 700px;
	text-align: left;
	color: #666;
	margin: 5px 20px 0px 0px;
}

.btnDownloadFonte
{
	float: left;
	height: 16px;
	font-family: Arial Narrow;
	font-size: 14px;
	margin: 5px 0px 0px 10px;
}

.lblDataPosts
{
	font-family: Arial Narrow;
	font-size: 14px;
	width: 220px;
	float: right;
	text-align: left;
	margin: 1px 20px 0px 0px;
}

