/* ----------------------- Inicio Css Modal ----------------------- */
#mask
{
	position: absolute;
	left: 0;
	top: 0;
	z-index: 9000;
	background-color: #000;
	display: none;
	width: 500px;
}

#boxes .window
{
	position: absolute;
	left: 0;
	top: 0;
	height: 200px;
	display: none;
	z-index: 9999;
	padding: 20px;
}

#boxes #dialog
{
	width: 510px;
	height: 320px;
	padding: 10px;
	background-image: url("../../Styles/Images/FundoSite.jpg");
}

.close
{
	float: right;
	text-decoration: none;
}

#window
{
	top: 299.5px;
	left: 551.5px;
	display: none;
}

a:link, a:visited
{
	color: #3A4F63;
}


.logoModal
{
	width: 470px;
	height: 150px;
}

.loginModal
{
	width: 470px;
	height: 150px;
}

.imgLogoModal
{
	float: left;
	border: 0;
	margin: 20px 0 0 150px;
}

.labelGen
{
	width: 80px;
	height: 100px;
	font-family: "Helvetica Neue" , "Lucida Grande" , "Segoe UI" , Arial, Helvetica, Verdana, sans-serif;
	font-size: 13px;
	margin-left: 30px;
	font-weight: 500;
}

.txtLogin
{
	width: 300px;
	height: 16px;
	margin: 5px 5px 5px 40px;
}

.txtSenha
{
	width: 300px;
	height: 16px;
	margin: 5px 5px 5px 38px;
	font-size: 14px;
}

.DvBtnEnviar
{
	width: 470px;
	height: 35px;
}

.btnEnviar
{
	width: 66px;
	height: 28px;
	font-family: "Helvetica Neue" , "Lucida Grande" , "Segoe UI" , Arial, Helvetica, Verdana, sans-serif;
	font-size: 14px;
	background-color: transparent;
	float: right;
	margin: 5px 56px 2px 0;
	border-right: 1px solid #9D9D9D;
}

.dvErros
{
	width: 470px;
	height: 50px;
	text-align: center;
}

.lblErros
{
	font-family: "Helvetica Neue" , "Lucida Grande" , "Segoe UI" , Arial, Helvetica, Verdana, sans-serif;
	color: Red;
	text-align: center;
	font-size: 13px;
	width: 400px;
	margin: 0px 0px 5px 165px;
}


/* ----------------------- Fim Css Modal ----------------------- */

.HomeConteudo
{
	width: 1292px;
	height: 500px;
}

.conteudoExp
{
	width: 1294px;
	float: left;
	height: 100px;
	margin: 5px 0 0 5px;
}

.conteudoS1
{
	border: 1px solid #9D9D9D;
	width: 293px;
	float: left;
	height: 220px;
	margin: 50px 0 0 5px;
}

.conteudoS2
{
	border: 1px solid #9D9D9D;
	width: 293px;
	float: left;
	height: 220px;
	margin: 50px 0 0 20px;
}

.conteudoS3
{
	border: 1px solid #9D9D9D;
	width: 293px;
	float: left;
	height: 220px;
	margin: 50px 0 0 20px;
}

.conteudoS4
{
	border: 1px solid #9D9D9D;
	width: 293px;
	float: left;
	height: 220px;
	margin: 50px 0 0 20px;
}

.tituloExp
{
	font-weight: 500;
	margin: 0px;
	padding: 20px 0px 0px 50px;
	padding: 5px 0px 0px 20px\0/IE9;
	color: #3A4F63;
	border: none;
	font-size: 30px;
	text-align: center;
}

BtnTermosUso:link, BtnTermosUso:visited
{
	color: #666;
}

/*Estilo Div's centrais Home Page*/

.tituloHome {
    width: 1292px;
    height: 70px;    
}

.leftBox {
    width: 250px;
    height:415px;
    border: 1px solid;
    float: left;
    margin: 5px 1px 1px 1px;
}

.centerBox {
    width: 740px;
    height:415px;
    border: 1px solid;
    margin: 5px 2px 2px 280px;

}

.rightBox {
    width: 250px;
    height:415px;
    border: 1px solid;
    float: right;
    margin: 5px 1px 1px 1px;
}